
/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC  */
* {
  font-family: "montserrat";
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

 .category-btns {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.main-form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 30px;
  background-color: #46424D;
  margin: 20px;
  border-radius: 5px;
  padding-left: 78px;
  padding-right: 78px;
  width: 50vw
}

 /* TO-DO Potential area for refactoring */

 /* ------- Buttons -------- */
.mini-img {
  width: 40px;
  height: 25px;
}

.category-btns label {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: white 2px solid;
  border-radius: 5px;
  height: 4em;
  width: 8em;
  text-align: center;
}

.category-btns input.study[type='radio']:checked + label.study {
  color: #B3FD78;
  border-color: #B3FD78;
}

/* #study-graphic {
  background-image: url(./assets/study.svg)

} */
.category-btns input.meditate[type='radio']:checked + label.meditate {
  color: #C278FD;
  border-color: #C278FD;
}

.category-btns input.exercise[type='radio']:checked + label.exercise {
  color: #FD8078;
  border-color: #FD8078;
}

.main-panel p {
    color:white
}

.main-panel label {
  color: white
}

body {
  background: #2B2733;
  margin: 0;
}

.hidden {
  display: none
}

.goal {
  border: none;
  border-bottom: solid #FFF 1px;
  background: transparent;
}

.activity-goal {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.duration{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
}

.minutes {
  display:flex;
  flex-direction: column;
}

.seconds {
  display:flex;
  flex-direction: column;
}

.start-container {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 20px;
}

.start-activity-btn {
  border-style: none;
  border-radius: 4px;
  color: #46424D;
  margin: 0;
  height: 2em;
  width: 12em;
}

.time-input {
  border: none;
  border-bottom: solid #FFF 1px;
  background: transparent;
  width: 20em;
  outline: none;
}

header {
  background-color:#46424D;
  color: #FFF;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.page-header {
  display: inline-flex;
  margin: 0 0 0 0;
}

.section-title {
  color:#CBC9CF;
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
}

.history-panel {
  display: flex;
  flex-direction: column;
  border-left: solid 1px #CBC9CF;
  width: 30%;
}

.history-panel h2 {
  margin-left: 20px;
}

.default-message {
  color: #CBC9CF;
  text-align: center;
  padding: 10px 20px 0px 20px;
  /* flex-shrink: 3 */
  min-width: 335px;
}
