/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC  */
* {
  font-family: "montserrat";
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.hidden {
  display: none !important;
}

.category-btns {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.main-form, .timer-box {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 30px;
  background-color: #46424D;
  margin: 20px;
  border-radius: 5px;
  padding-left: 78px;
  padding-right: 78px;
  width: 50vw
}

.mini-img {
  height: 25px;
}

.category-btns label {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: white 2px solid;
  border-radius: 5px;
  height: 4em;
  width: 8em;
  text-align: center;
}

.category-btns input.study[type='radio']:checked+label.study {
  color: #B3FD78;
  border-color: #B3FD78;
}

.category-btns input.meditate[type='radio']:checked+label.meditate {
  color: #C278FD;
  border-color: #C278FD;
}

.category-btns input.exercise[type='radio']:checked+label.exercise {
  color: #FD8078;
  border-color: #FD8078;
}

.main-panel p {
  color: white
}

.main-panel label {
  color: white
}

body {
  background: #2B2733;
  margin: 0;
}

#goal {
  border: none;
  border-bottom: solid #FFF 1px;
  background: transparent;
  color: #FFF;
  margin-top: 10px;
}

.activity-goal {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.alert {
  display: flex;
  flex-direction: row;
}

.alert-msg {
  color: #EFB7EC !important;
  margin-top: 10px;
  height: 16px;
  margin-top: 10px;
  margin-right: 5px;
}

.duration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.minutes {
  display: flex;
  flex-direction: column;
}

.seconds {
  display: flex;
  flex-direction: column;
}

.start-container {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 20px;
}

.start-activity-btn {
  border-style: none;
  border-radius: 4px;
  color: #46424D;
  margin: 0;
  height: 2em;
  width: 12em;
  margin-top: 35px;
}

.time-input {
  border: none;
  border-bottom: solid #FFF 1px;
  background: transparent;
  width: 20em;
  outline: none;
  color: #FFF;
  margin-top: 10px;
}

header {
  font-weight: 300;
  background-color: #46424D;
  color: #FFF;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.page-header {
  display: inline-flex;
  margin: 0;
}

.section-title {
  color: #fff;
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
}

.goal-phrase {
  margin-left: 0px;
  margin-bottom: 5px;
  color: #fff;
  font-weight: 300;
}

.history-panel {
  display: flex;
  flex-direction: column;
  border-left: solid 1px #CBC9CF;
  width: 30%;
}

.history-panel h2 {
  margin-left: 20px;
}

.default-message {
  color: #CBC9CF;
  text-align: center;
  padding: 10px 20px 0px 20px;
  min-width: 335px;
}

.timer-view h2 {
  color: #CBC9CF;
}

.timer-btn {
  height: 200px;
  width: 200px;
  border: solid 4px #B3FD78;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  font-size: x-large;
  padding: 10 0 30 0;
  margin: 10px 0px 30px 0px;
}

.timer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-box p {
  color: #fff;
  font-size: xx-large;
  margin-top: 0px;
}
